// .container {
//     overflow-y: auto;
//     display: flex;
//     justify-content: space-around;
//     overflow-y: auto;
//     overflow-x: auto;
//  }

// .card-container {
//     margin: auto;
//     margin-top: 13%;
//     height: 300px;
//     width: 1100px;
//     top: 60px;
//     left: calc(12%);
//     display: flex;
// }
  
// .card {
//     display: grid;
//     height: 400px;
//     width: 200px;
//     background-color: #17141d;
//     border-radius: 10px;
//     box-shadow: -1rem 0 3rem #ffd90017;
//     transition: 0.4s ease-out;
//     position: relative;

//     .overlay {
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 2fr 2fr 1fr;
//     opacity: 0;
//     transition: all 0.5s;
//     }
// }
  
// .card:not(:first-child) {
//     margin-left: -30px;
// }
  
// .card:hover {
//     transform: translateY(-20px);
//     transition: 0.4s ease-out;
//     transform: scale(1.3);
//     z-index: 1;
// }
  
//     .card:hover ~ .card {
//     position: relative;
//     left: 50px;
//     transition: 0.4s ease-out;
// }

// .title-container {
//     display: flex;
//     justify-content: space-between;

//     .title {
//         color: #ffd700;
//         font-weight: 400;
//         margin: 15px;
//     }

//     .circle {
//         position: absolute;
//         left: calc(50% - 130px);

//         svg {
//             fill: #17141d;
//             stroke-width: 2px;
//         }

//         .stroke {
//             stroke: #ffd700;
//             stroke-dasharray: 360;
//             stroke-dashoffset: 360;
//             transition: 3s ease-out;
//         }
//     }
// }

// .description {
//     color: lighten(rgb(184, 182, 182),40%);
//     font-size: 10px;
//     margin-left: 10px;
// }

// .deploy {
//     display: flex;
//     flex-direction: column;
//     font-size: 10px;
//     letter-spacing: 10px;
//     font-family: 'Coolvetica', sans-serif;
//     letter-spacing: 3px;
//     margin-left: 10px;

//     .card-link {
//         margin-top: 5px;
//         text-decoration: none;
//         color: #ffd700;

//         &:hover {
//             color: rgba(240, 234, 71, 0.595);
//         }
//     }
// }
  
// .card:hover .stroke {
//     stroke-dashoffset: 100;
//     transition: 1.5s ease-out;
// }

// .card:hover .overlay {
//         opacity: 1;
// } 

body {
    // overflow-y: scroll;
}

.spacing {
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    margin-left: calc(120px);
    margin-right: calc(5px);
    padding: 5px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    align-items: flex-start;

    .card {
        background:#181818;
        padding: 1rem;
        border: 1px solid black;
        border-radius: .25rem;
        overflow: hidden;
        padding: 0;
        border: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);

        .card-header {
            padding: 0;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                aspect-ratio: 16 / 9;
                object-fit: cover;
                max-height: 200px;
                object-position: center;
                transition: 200ms transform ease-in-out;

                &:hover {
                    transform: scale(1.1)
                }
            }
        }

        .card-body {
            padding: 0 1rem;
        }

        .card-footer {
            margin-top: 1rem;
            padding: var(--padding);
            padding-top: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: .5rem;

            .btn {
                text-align: center;
                background: #ffd700;
                color: #181818;
                border: none;
                font-size: 1.25rem;
                padding: .5em, .75em;
                border-radius: .25em;
                cursor: pointer;

                &:hover {
                    background: #ffd900a1;
                }
            }

            .btn + .btn {
                margin-left: 2rem
            }
        }
    }
}