.logo-container {
    right: 23%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    margin: auto;
    transform: translateY(25%);

    .solid-logo {
        border-radius: 50%;
        border: solid #ffd700 2px;
    }
}

@media all and (max-width: 500px) {
    .logo-container {
        position: relative;
        text-align: center;
        margin-left: 45%;

        .solid-logo {
            width: 80px;
        }
    }
}